html{
    text-align: center;
    display: flex;
    justify-content: center;
}

td, th{
    border: 1px solid black;
    color: white;
    text-align: center;
    
    
}
.tabela-1{
    background-color: #BB86FC;
}
.tabela-2{
    background-color: #00C4B4;
}
td{
    background-color: #424250;
}